# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/Library/GiCache/

# Lightmaps & LightingData
/Assets/Lightmap-*/*.exr
/Assets/LightingData.asset

# Spatial.io generated
/Assets/Generated/
/schema/

# Git LFS (если используете)
/*.psd filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text

# IDE & OS
.vs/
*.csproj
*.sln
.DS_Store
Thumbs.db
